<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>encrypt index</title>
  </head>
  <script src="/static/js/hls.js"></script>
  <body>
  <div class="url-input">
      <label for="sURL">Stream URL:</label>
      <input id="sURL" type="text" value="http://127.0.0.1/flv/7182741-1.flv" />
      <button onclick="switch_media()">Switch to MediaDataSource</button>
  </div>
  <video id="video" controls autoplay></video>
  <script>
      if (Hls.isSupported()) {
          var video = document.getElementById('video');
          var hls = new Hls();
          // bind them together
          hls.attachMedia(video);
          {#hls.loadSource('');#}
      }
      function switch_media() {
          var url = document.getElementById('sURL').value;
          console.log(url)
          hls.loadSource(url)
        }
    </script>
  </body>
</html>
