<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <table class="table table-bordered">
        <tr>
            <th>文件名</th>
            <th>播放地址</th>
            <th>是否转码完成</th>
        </tr>
        {% for video in video_list %}
        <tr>
            <td>{{ video.name }}</td>
            <td>
                {% if video.transcoding_finished %}
                <a href="{{ video.url }}" target="view_window">点击播放</a>
                {% else %}
                <a href="">无法播放</a>
                {% endif %}
            </td>
            <td>{% if video.transcoding_finished %} 已完成 {% else %} 未完成 {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>